deleted
_ReSharper*
[Bb]in
obj
objd
out/
tmp/
node_modules/
Debug/
*.out
*.exe
*.pdb
*.user
*.sln.cache
*.userosscache
*.suo
TestResults
[Tt]humbs.db
buildd.log
buildd.evt
buildd.dbb
buildd.prf
buildd.trc
buildd.rec
buildd.err
buildd.wrn
build.log
build.evt
build.prf
build.dbb
build.trc
build.rec
build.err
build.wrn
*.log
*.bak
OACRTemp/
build_logs/
lock
/inc/bldver.*
/inc/sources.ver
/data
*.projhash*
*.slnhash*
# quickbuild.exe
/target/distrib/*
/VersionGeneratingLogs/
QLogs
QLocal
QTestLogs
pingme.txt
target
Logs/
.vs/

/dirs
/packages/*/

VersionGeneration/

/version
#Exclude nuget packages folders
packages
#ignore envkeep.txt
build/envkeep.txt

*.jfm
*.dbmdl
